{{ define "main" }}

    <main id="main">
        <section>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="section px-3 bg-white shadow text-center">
                    <h2 class="mb-4">404 Page not found</h2>
                    <a href="{{ "/" | relURL }}" class="btn btn-primary">Go Home</a>
                  </div>
                </div>
              </div>
            </div>
          </section>

    </main>

{{ end }}